@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>CandorSampleNgCli</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="~/Scripts/NgApp/candor-sample-ng-cli/runtime.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/candor-sample-ng-cli/polyfills.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/candor-sample-ng-cli/styles.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/candor-sample-ng-cli/vendor.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/candor-sample-ng-cli/main.js"></script>
</body>
</html>